div#about-container.content-container(reset-content)
	// image, title, exp
	div#about-header.row
		div.large-8.large-centered.columns
			// profile pic
			div.row
				div.large-3.columns
					img#about-profile-pic(src='/images/profile.png')
				// header
				div#about-exp-name.large-8.columns
					p#about-name BUSHI ZHANG
					p.about-header tyrant wizard-barbarian
					div.about-dashed.row
						div.large-1.columns
							p.about-header EXP
						div.large-6.columns
							img#about-exp-bar(src='/images/exp-bar.png')
						div.large-1.large-offset-2.columns
							p LVL.
						div.large-2.columns
							p.about-level 15
	// powered by, tracks, description
	div#about-info.row
		div.large-8.large-centered.columns
			div.row
				// cool info
				div#about-powered-by.large-3.columns
					// powered by
					div.row
						img.tbolt(src='/images/tbolt.png')
						p.about-header.nm [powered by]
						div#about-power-container.about-dashed
							img.raptor.about-power-img(src='/images/raptors.png')
							img.gundam.about-power-img(src='/images/gundam.png')
							img.reddit.about-power-img(src='/images/reddit.png')
					// the track
					div.row
						img.record(src='/images/record.png')
						p.about-header.nm [listening to]
						div#about-records.about-dashed
							p.nm ceremonials - f&tm
							p.nm paradise - LDR
				// bio
				div.large-8.columns
					// roles
					div#about-roles
						div.row
							div.large-5.columns
								img.about-role-img(src='/images/gear.png')
								p.about-role-p developer
							div.large-7.columns
								img.about-role-img(src='images/pencil.png')
								p.about-role-p designer
					// bio
					div#about-bio
						p.about-header [bio]
						p 
							| Bushi is in his final term at the University of 
							| Waterloo. He currently works at Toronto startup 
							| BluTrumpet, where he helps design features 
							| for its ad-servers.
						p
							| When he was 10, his best friend gave him a 
							| drawing of Blastoise and that’s when he fell in
							| love with art. However, his proficiency with a
							| pencil is only matched by his incompentency 
							| with his tablet. 
						p
							| In his spare time he is busy with giving up on 
							| Arsenal FC, passive aggressively messing with 
							| his roommate, and hacking on cool (but not too
							| cool) stuff.
