div#contacts-container.content-container(reset-content)
	p this page is embarassingly empty... but for now you can find me here:
	div.row
		div.large-8.large-centered.columns
			div.row
				div.large-3.columns
					p email:
					a(href='mailto:bushizhang@gmail.com') bushizhang@gmail.com
				div.large-3.columns
					p twitter:
					a(href='https://twitter.com/bushizhang') @bushizhang
				div.large-3.columns
					p linkedin:
					a(href='http://www.linkedin.com/in/bushizhang') LinkedIn
				div.large-3.columns
					p dribble (draft me):
					a(href='http://dribbble.com/bushizhang') dribble