div#home-container(hidden-home)
	div#home-graphic
		img#index-logo.index-graphic(src='/images/logo.png')
		img(icon-scrolled)#index-icon.index-graphic(src='/images/icon.png')
	div#home-info
		p hello there
		p i am bushi
		p developer
		p & designer
		p rarely still
		p never bored
		p always curious
	// CATTICUS ICON