div#home-container.row(hidden-home)
	div#home-content.small-12.large-7.large-centered.column
		div#home-graphic
			p scroll down, maybe
			div#index-icon-line
			img(icon-scrolled)#index-icon.index-graphic(src='/images/icon.png')

			// 175 - eyeball turn half way
			img#eye-half.eye-ball(src='images/eye-half.png', ng-class="{focused: scroll >= 175 && scroll < 550}")
			// 350 - eyeball turn full
			img#eye-mid.eye-ball(src='images/eye-mid.png', ng-class="{focused: scroll >= 550 && scroll <= 722}")
			div#index-bottom
		div#home-info
			div
				// rarely still
				div
					p(ng-class="{focused: scroll >= 450}") RARELY 
					p(ng-class="{focused: scroll >= 450}") STILL
				// never bored
				div
					p(ng-class="{focused: scroll >= 500}") NEVER 
					p(ng-class="{focused: scroll >= 500}") BORED
				// always curious
				div
					p(ng-class="{focused: scroll >= 550}") ALWAYS
					p(ng-class="{focused: scroll >= 550}") CURIOUS 	
	// CATTICUS ICONs
	div#home-space
	div#home-kraken.small-12.large-12.column
		img#eye-bot(src='images/eye-mid.png', ng-class="{focused: scroll >= 726}")
		img#eye-bot-monster(src='images/eye-bot.png', ng-class="{focused: scroll >= 726}")