div#main-navigation.fixed
  ul.menu
    li
      a.nav-link.fade(href='about') about
    li
      a.nav-link.fade(href='projects') projects
    li
      a#nav-home.nav-link.fade(href='home')
        img.fade(src='/images/logo-white.png')
    li
      a.nav-link.fade(href='contact') contact
    li
      a.nav-link.fade(href='resume') resume
