div#main-navigation.fixed
  ul.menu
    li
      a#nav-home.nav-link.fade(href='home')
        img(src='/images/logo-small.png')
    li.dotcom.fade
      a.nav-link(href='home')
        p BUSHI
        p ZHANG
        p .com
    li
      a.nav-link.fade(href='home') home
    li
      a.nav-link.fade(href='about') about
    li
      a.nav-link.fade(href='projects') projects
    li
      a.nav-link.fade(href='contact') contact
    li
      a.nav-link.fade(href='resume') resume
