div#resume-container.content-container(reset-content)
	// Name
	div.row
		div#resume-name.large-8.large-centered.columns
			h1 Bushi Zhang
	// Contact Info
	div.row.bottom-padded-3
		div#resume-contact-info.large-4.large-centered.columns
			p Honors BCS - University of Waterloo
			p site: bushizhang.com
			p email: bushizhang@gmail.com
			p phone: 647-624-4938
	// Skill Summary (ul)
	div.row.bottom-padded-3
		div.large-8.large-centered.columns
			h4.resume-header SKILLS SUMMARY
			hr
			table.naked-table
				tbody
					tr
						td Languages
						td Ruby, C/C++/C#
					tr
						td Web Dev
						td HTML, CSS, JavaScript, jQuery, AngularJS
					tr
						td Web Platforms
						td Ruby on Rails, Sinatra, nodeJS, .NET
					tr
						td Design
						td Adobe Photoshop, Adobe Illustrator, Autodesk Maya, GIMP
					tr
						td Database
						td MySQL, SQL Server
	// Work Exprience (ul)
	div.row.bottom-padded-3
		div.large-8.large-centered.columns
			h4.resume-header WORK EXPERIENCE
			hr
			// blutrumpet
			div.row
				div.resume-work-container
					p BluTrumpet
					p May 2012 - March 2013
				div
					p Rails Developer
				div.resume-skill-tags
					span.radius.secondary.label Ruby on Rails
					span.radius.secondary.label MySQL
					span.radius.secondary.label HTML
					span.radius.secondary.label CSS
					span.radius.secondary.label jQuery
					span.radius.secondary.label Photoshop
				ul
					li
						p Developed and optimized ad serving and conversion logic for BluTrumpet ad servers.
					li
						p Designed and maintained client and admin portal for reporting and analytics.
			// bluesun
			div.row
				div.resume-work-container
					p BlueSun Inc.
					p Sept 2011 - Dec 2011
				div
					p Software Developer
				div.resume-skill-tags
					span.radius.secondary.label C#
					span.radius.secondary.label ASP.NET
					span.radius.secondary.label HTML
					span.radius.secondary.label CSS
					span.radius.secondary.label jQuery
					span.radius.secondary.label Photoshop
					span.radius.secondary.label JIRA
				ul
					li
						p Designed cross-browser (IE7+, Firefox, Chrome) login portal for insurance management system.
					li
						p Updated client issue-tracking systems with JIRA API.
			// christie
			div.row
				div.resume-work-container
					p Christie Digital Systems
					p Jan 2011 - May 2011
				div
					p Programmer
				div.resume-skill-tags
					span.radius.secondary.label C#
					span.radius.secondary.label ASP.NET
					span.radius.secondary.label JavaScript
					span.radius.secondary.label Flash
					span.radius.secondary.label SQL Server
				ul
					li
						p Created Christie Microtile web calculator for mockups, pricing and specs.
					li
						p Designed and developed web app for querying Christie product compliance.
	// Projects (ul)
	div.row.bottom-padded-3
		div.large-8.large-centered.columns
			h4.resume-header PROJECTS
			hr
			// Lyriqal
			div.row
				div.resume-work-container
					p Lyriqal
					p Feb 2012 - Dec 2012
				div.resume-skill-tags
					span.radius.secondary.label Ruby on Rails
					span.radius.secondary.label MySQL
					span.radius.secondary.label HTML
					span.radius.secondary.label CSS
					span.radius.secondary.label jQuery
					span.radius.secondary.label Photoshop
				ul
					li 
						p Created social web platform for lyrical analysis and interpretation.
					li
						p Developed core product features: lyrics parsing for interpretations, comprehensive achievement system, and comment system.
					li
						p Designed UI/UX with Twitter Bootstrap and jQuery.
			// Raffi
			div.row
				div.resume-work-container
					p Raffi
					p Dec 2012 - Jan 2013
				div.resume-skill-tags
					span.radius.secondary.label Ruby on Rails
					span.radius.secondary.label MySQL
					span.radius.secondary.label HTML
					span.radius.secondary.label CSS
					span.radius.secondary.label jQuery
					span.radius.secondary.label Photoshop
				ul
					li
						p Winners of the Toronto Angelhack hackathon (2 out of 66 teams).
					li
						p Competed at global demo day in San Francisco against teams from London, Paris, Tel Aviv, New York, Seattle, Santiago and San Francisco.
					li
						p Designed and developed Chrome Extension for parsing sizing charts of merchant websites.
					li
						p Designed and developed skeleton measurement tool using RaphaelJS, HTML5 canvas and the web cam.
			// Bushizhang.com
			div.row
				div.resume-work-container
					p Portfolio
					p Dec 2012 - present
				div.resume-skill-tags
					span.radius.secondary.label nodeJS
					span.radius.secondary.label AngularJS
					span.radius.secondary.label Foundation
					span.radius.secondary.label Heroku
				ul
					li
						p Developed single page application built with Angular and Node.
					li
						p Implemented cross browser compatible site using Foundation 4.
