!!!
html(ng-app="myApp")
  head
    meta(name='viewport', charset='utf8', content='width=750')
    base(href='/')
    title Bushi Zhang
    link(rel='stylesheet', href='/css/app.css')
  body
    block body