/* app css stylesheet */
/* Better Helvetica: http://css-tricks.com/snippets/css/better-helvetica/ */
html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: #454545;
  margin: 0;
  height: 100%;
}

a {
  color: #454545;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

/* height stff */
#body-container {
  height: 100%;
}

/* index page */
#main-container {
  text-align: center;
  min-width: 750px;
  height: 100%;
}

#main-intro {
  z-index: 2;
  position: relative;
}

/* navigation */
#main-navigation {  
  position: fixed;
  height: 120px;
  width: 100%;
  min-width: 750px;
  top: 0;
  z-index: 2;
  background: white;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu > li {
  display: inline-block;
  width: 100px;
  padding: 0 0 7px 15px;
  border-bottom: 1px solid #CCC;
}

.menu > li a {
  font-size: 18px;
  padding: 7px;
}

.menu > li.dotcom {
  margin: -1px 0 0 -25px;
  position: absolute;
  text-align: left;
  border: none;
  letter-spacing: 2px;
}

.menu > li.dotcom p {
  margin: 0;
  opacity: 0.3;
}

.menu > li.dotcom p:nth-child(3) {
  font-size: 12px;
}

.menu > li:nth-child(1) {
  padding: 0;
  border: none;
  width: 80px;
}

.menu > li:nth-child(3) {
  margin-left: 32px;
  padding: 0 0 7px 55px;
}

#nav-home img {
  vertical-align: middle;
  width: 40px;
}

/* main content */
#main-content {
  padding: 120px;
  height: 100%;
}

.index-graphic {
  width: 300px;
}

#index-logo {
  position: absolute;
  margin-left: -144px;
}

#index-icon {
  margin: 40px 0 0 -134px;
  width: 280px;
  z-index: -1;
  position: fixed;
}

/* content containers */
.content-container {
  height: 600px;
}

/* home page */
#home-container {
  padding-bottom: 50px;
  position: relative;
  /*height: 2150px;*/
  height: 100%;
}

#home-graphic {
  margin-top: 75px;
  height: 600px;
  opacity: 0.77;
}

#home-meteor img {
  position: absolute;
  margin-top: -200px;
  width: 200px;
  right: 0;
}

#home-info {
  height: 75%;
  margin: 0 auto 150px;
  width: 500px;
  font-size: 50px;
  border-bottom: 1px solid #333;
}

#home-info p {
  opacity: 0.3;
  margin: 0;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  display: inline-block;
}

#home-info p.focused {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

#home-info p.break {
  margin-bottom: 150px;
}

#home-info p.locked {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 250px;
  z-index: 200;
}

#home-info p:nth-child(odd) {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

#home-info p:nth-child(even) {
  font-weight: bold;
  line-height: 30px;
}

/* about page */
.intro-name {
  font-size: 40px;
  margin-bottom: 0;
}

.intro-desc {
  font-size: 20px;
}

/* fade functionality */
.fade {
  opacity: 0.3;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.fade:hover {
  opacity: 0.9;
  transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
}
