/* COLORS */
/* #454545 normal fonts */
/* #CCC light containers */
/* #999 light fonts */
/* #222 darker fonts */
/* #252525 dark footer */
/* #353535 dark footer */
/* #ffbf5a yellow */

/* app css stylesheet */
/* Better Helvetica: http://css-tricks.com/snippets/css/better-helvetica/ */
html, body {
  height: 100%;
  color: #353535;
  text-align: center; 
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a,
a:focus, 
a:hover,
a:active {
  outline: none;
  color: #454545;
  text-decoration: none;
}

a:hover {
  color: #222;
}

::selection {
  background: #ffbf5a; /* Safari */
  }
::-moz-selection {
  background: #ffbf5a; /* Firefox */
}

.nm {
  margin: 0;
}

.bottom-padded-3 {
  margin-bottom: 30px;
}

.hidden {
  visibility: hidden;
}

/* height stff */
#body-container {
  height: 100%;
}

/* index page */
#main-container {
  height: 100%;
}

/* navigation */
#main-navigation {  
  z-index: 300;
  min-width: 750px;
  background: url("/images/pw_maze_black.png") repeat;
  color: white;
  opacity: 1.0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;;
}

#main-navigation.hidden-home {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.menu {
  margin: auto;
  width: 580px;
  height: 75px;
  color: white;
  vertical-align: middle;
}

.menu > li {
  display: inline-block;
  padding: 0 20px;
  color: white;
  vertical-align: middle;
  line-height: 75px;
}

.menu > li a {
  font-size: 20px;
}

.menu a {
  color: white;
}

#nav-home img {
  padding-left: 10px;
  width: 40px;
  vertical-align: middle;
}

/* main content */
#main-view {
  padding-top: 120px;
  height: 100%;
}

#index-logo {
  position: absolute;
  left: 50%;
  margin-top: 38%;
  margin-left: -50%;
  width: 100%;
  height: 10px;
}

#index-icon {
  position: fixed;
  left: 50%;
  z-index: -1;
  margin-left: -184px;
  width: 350px;
}

#index-icon-line {
  position: absolute;
  left: 50%;
  z-index: -1;
  margin-top: 38.5%;
  margin-left: -37%;
  width: 75%;
  /* height: 2px; */
  background: #ffbf5a;
}

.eye-ball {
  position: fixed;
  left: 50%;
  z-index: 2;
  margin-top: 174px;
  margin-left: -43px;
  width: 82px;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.eye-ball.focused {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* content containers */
.content-container {
  height: 100%;
}

/* home page */
#home-container {
  height: 100%;
}

#home-content {
  min-height: 1000px;
  height: 75%;
}

#home-graphic {
  min-height: 600px;
  height: 55%;
  /* opacity: 0.77; */
}

#home-graphic p {
  padding-bottom: 25px;
}

#home-info {
  position: relative;
  z-index: 200;
  margin: 20% auto;
  min-height: 450px;
  height: 50%;
  font-size: 50px;
}

#home-info p {
  display: inline-block;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

#home-info .focused {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#home-info p:nth-child(odd) {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 30px;
}

#home-info p:nth-child(even) {
  font-weight: bold;
  line-height: 30px;
}

#home-info div.square1 {
  margin: 20px auto;
}

#home-kraken {
  position: absolute;
  right: 0;
  left: 0;
  min-height: 240px;
  height: 58%;
  background: #353535;
  background: url("/images/pw_maze_black.png") repeat;;
}

#home-kraken .focused {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;  
}

#home-space {
  position: absolute;
  left: 50%;
  z-index: 1;
  margin: -41px 0 0 -53px;
  width: 102px;
  height: 102px;
  border-radius: 80px;
  background: white;
}

#eye-bot {
  position: absolute;
  left: 50%;
  z-index: 2;
  margin: -30px -43px;
  width: 82px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

#eye-bot-monster {
  position: absolute;
  left: 50%;
  z-index: 3;
  margin-left: -99px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

#kraken {
  margin: auto;
  width: 550px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

#kraken.scroll-visible {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;  
}

/* about page */
#about-container {

}

#about-exp-name,
#about-roles {
  text-align: left;
}

#about-exp-name p:nth-child(2) {
  margin: -4px 0 4px;
}

#about-profile-pic {
  margin: auto;
  width: 125px;
}

#about-name {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
}

#about-exp-bar {
  margin-top: 2px;
  height: 21px;
}

#about-bio {
  text-align: justify;
}

#about-bio p:nth-child(1) {
  margin: -10px 0 10px;
}

#about-roles {
  margin-bottom: 20px;
}

#about-powered-by img {
  margin: auto;
}

#about-power-container {
  margin-top: 10px;
  height: 77px;
}

#about-powered-by img.tbolt {
  margin-bottom: 10px;
  height: 50px;
}

#about-powered-by img.raptor {
  margin-left: -10px;
  width: 70px;
}

#about-powered-by img.gundam {
  width: 53px;
}

#about-powered-by img.reddit {
  margin-left: 12px;
  width: 31px;
}

#about-powered-by img.record {
  margin: 10px auto;
  height: 40px;
}

#about-records {
  height: 70px;
}

.about-header {
  color: #999;
}

.about-level {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.row .about-dashed {
  margin-bottom: 13px;
  border-image:url("/images/dashed-border.png") 0% 0% 100% 30% repeat;
}

.about-role-img {
  float: left;
  margin: 5px 10px 0 0;
}

.about-role-p {
  margin: 0;
  font-size: 25px;
}

.about-power-img {
  float: left;
}

/* Resume */
#resume-container {
  text-align: left;
}

#resume-container span.secondary.label {
  margin: 2px;
}

#resume-container .resume-skill-tags {
  margin: 5px 0;
}

#resume-name,
#resume-contact-info {
  text-align: center;
}

#resume-container p {
  margin: 0;
}

.resume-header {
  text-align: center;
}

table.naked-table {
  margin: auto;
  border: none;
  text-align: left;
}

table.naked-table tr {
  background: none;
}

.resume-work-container {
  height: 32px;
}

.resume-work-container p:first-child {
  float: left;
  font-weight: bold;
  font-size: 20px;
}

.resume-work-container p:last-child {
  float: right;
}

.resume-skills {
  /* color: #999; */
  font-size: 15px;
}

/* fade functionality */
.fade {
  opacity: 0.5;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.fade:hover {
  opacity: 0.9;
  -webkit-transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  transition: opacity .30s ease-in-out;
}

/* shapes */
.square1 {
  width: 10px;
  height: 10px;
  background: #454545;
}
