/* app css stylesheet */
/* Better Helvetica: http://css-tricks.com/snippets/css/better-helvetica/ */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: #454545;
}

a {
  color: #454545;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

/* index page */
#main-container {
  text-align: center;
  min-width: 700px;
}

#main-intro {
  z-index: 2;
  position: relative;
}

/* navigation */
#main-navigation {  
  position: fixed;
  height: 120px;
  background: white;
  width: 100%;
  top: 0;
  z-index: 2;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu > li {
  display: inline-block;
  width: 100px;
  margin-left: 50px;
}

.menu > li a {
  font-size: 25px;
  padding: 15px;
}

.menu > li:nth-child(1) {
  margin: 0;
}

#nav-home img {
 vertical-align: middle;
}

/* main content */
#main-content {
  padding: 120px;
}

.index-graphic {
  width: 300px;
}

#index-logo {
  position: absolute;
  margin-left: -144px;
}

#index-icon {
  margin: 40px 0 0 -134px;
  width: 280px;
  z-index: -1;
  position: fixed;
}

/* content containers */
.content-container {
  height: 600px;
}

/* home page */
#home-container {
  padding-bottom: 50px;
  position: relative;
  height: 2150px;
}

#home-graphic {
  margin-top: 75px;
  height: 600px;
  opacity: 0.77;
}

#home-meteor img {
  position: absolute;
  margin-top: -200px;
  width: 200px;
  right: 0;
}

#home-info {
  height: 200px;
  font-size: 50px;
}

#home-info p {
  opacity: 0;
  margin: 0;
  transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -webkit-transition: opacity 1.5s ease-in-out;
}

#home-info p.focused {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

#home-info p.break {
  margin-bottom: 150px;
}

#home-info p.locked {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 250px;
  z-index: 200;
}

/* about page */
.intro-name {
  font-size: 40px;
  margin-bottom: 0;
}

.intro-desc {
  font-size: 20px;
}

/* fade functionality */
.fade {
  opacity: 0.3;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.fade:hover {
  opacity: 0.9;
  transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
}
