div#lyriqal-container.project-views.display-none
	div.row.project-description
		div.large-10.columns.large-centered
			div.row
				h3 Lyriqal
				p 	
					| Lyriqal was a project started by&nbsp
					a(href='https://twitter.com/billxinli') @billxinli
					,&nbsp
					a(href='https://twitter.com/y26choi') @y26choi
					,&nbsp
					a(href='https://twitter.com/CEO_RackCity') @CEO_RackCity
					,&nbspand myself in early 2012 to learn Ruby on Rails. 
					| Lyriqal was a social platform for lyrical analysis and 
					| interpretation. We were heavily involved with the project 
					| in our spare time and had fun writing cool (sometimes 
					| unecessary) features.
			div.row
				hr
				div.large-4.columns
					h6 social network integration
					p sign up for lyriqal with your favorite services and let your friends know what you've been up to on lyriqal (via a tweet or a status update).
				div.large-4.columns
					h6 interpretation and comments
					p highlight lyrics to post your interpretations or to request an explanation.
				div.large-4.columns
					h6 achievement system
					p categorical achievements based on user engagement, actions and accomplishments.
	div.row.project-description
		div.large-6.columns
			img(src='/images/lyriqal-lyrics.png')
		div.large-6.columns
			img(src='/images/lyriqal-albums.png')