div#portfolio-container.project-views.display-none
	div.row.project-description
		div.large-10.columns.large-centered
			div.row
				h3 Coming Soon
				p 
				| this portfolio is powered by AngularJS, NodeJS, and Foundation 4.