div#lyriqal-container.project-views.display-none
	div.row.project-description
		div.large-10.columns.large-centered
			div.row
				h3 Raffi
				p 
					a(href='http://angelhack.com/') AngelHack
					&nbspwas the self proclaimed mother of all
					| hackathons - with events held all over the world.
					| A crack team consisting of 
					a(href='https://twitter.com/scotthyndman) @scotthyndman
					,&nbsp
					a(href='https://twitter.com/ianpha') @ianpha
					,&nbsp Nick Fisher and myself entered. We were so excited
					| we even brought our own monitor!
				p
					| 30 hours later, Raffi placed 2nd out of 66 teams. 
					| A month later, we competed at Global Demo day in San
					| Francisco against other top teams from London, Paris, SF,
					| Santiago, New York, and Tel Aviv.
				p
					| Raffi is THE solution for shopping online for
					| clothes that fit. Our mascot, Raffi, is a giraffe
					| because everyone knows giraffes are impossible
					| to shop for.
			div.row
				hr
				div.large-4.columns
					h6 works with your favorite sites
					p 
						| just install the Chrome plugin and the Raffi
						| extension will pop up whenever it detects
						| that you are shopping for clothes - on all
						| sites!
				div.large-4.columns
					h6 accurate & easy measurements
					p
						| the measurement process is simple and accurate, just
						| fire up your latop and your webcam and you'll have 
						| your sizes in minutes (coming soon for mobile). 
				div.large-4.columns
					h6 shop for your friends & family
					p
						| Raffi lets you shop for friends and family without
						| worrying about their size. Send them an invite
						| and you'll be able to shop for them in no time.
	div.row.project-description
		div.large-6.columns
			img(src='/images/raffi-plugin.png')
		div.large-6.columns
			img(src='/images/raffi-measurement.png')