div#lyriqal-container.project-views
	div.row.project-description
		div.large-10.columns.large-centered
			div.row
				h3 Raffi
				p 
					| Angelhack was the self proclaimed mother of all
					| hackathons, with competitions held worldwide.
					| We were so excited we even brought our own monitor!
					| An crack team consisting of @ScottyHindman, @IanHa,
					| @nickfisher
			div.row
				div.large-4.columns
					h6 social network integration
					p sign up for lyriqal with your favorite services. Post your actions to your social network (via a tweet or a status update).
				div.large-4.columns
					h6 interpretation and comments
					p highlight lyrics to post your interpretations or to request an explanation.
				div.large-4.columns
					h6 achievement system
					p categorical achievements based on user engagement, actions and accomplishments.
	div.row.project-description
		div.large-6.columns
			img(src='/images/lyriqal-lyrics.png')
		div.large-6.columns
			img(src='/images/lyriqal-albums.png')